{
    "presets": [
        "@babel/typescript",
        "@babel/react"
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ],
    "only": [
        "src"
    ],
    "env": {
        "development": {
            "presets": [
                [
                    "@babel/env",
                    {
                        "targets": "> 0.25%, not dead"
                    }
                ]
            ]
        },
        "test": {
            "presets": [
                [
                    "@babel/env",
                    {
                        "targets": {
                            "node": "current"
                        }
                    }
                ]
            ]
        }
    }
}
